@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");

.bg-main {
  background-color: var(--main-bg-color);
}

.text-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  /* font-size: 38px; */
  /* line-height: 52px; */

  color: #002600;
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  /* line-height: 34px; */
  /* or 155% */

  color: #000000;
}

.button {
  background-color: var(--button-bg-color);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 52px;
}

.button:hover {
  background-color: rgba(27, 94, 32, 0.61);
}



.flot {
  width: 331px;
  height: 133px;
  background: rgba(27, 94, 32, 0.61);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  position: absolute;
  z-index: 20;
  /* top: -230px; */
  top: 35%;
  

}

@media (max-width: 575.98px) { 

  .flot {
    top: 60%;
  }
}

@media (max-width: 330.98px) { 

  .flot {
    width: 260px;
    height: 120px;
    top: 90%;
    left: 8%;
    
  }
  .city {
    font-size: 18px;
  }
  .time {
    font-size: 38px;
  }

 
}



.city {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #FFFFFF;
}

.time {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;
color: #FFFFFF;
}

.temp {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;

color: #FFFFFF;
}

.ico {
  width: 59px;
  height: 59px;
  margin-bottom: 10px;
}

